<!-- <h2>Hello Angular World !!!</h2> -->
<app-header></app-header>
<app-footer></app-footer>
<h1>Make header footer in Angular<h1>

<!--
<form #simpleForm="ngForm" (ngSubmit)="getValClick(simpleForm.value)">
   <input type="text" name="user" ngModel placeholder="Enter user name" /> <br><br>
   <input type="text" name="age" ngModel placeholder="Enter user age" /> <br><br>
   <input type="text" name="address" ngModel placeholder="Enter user address" /> <br><br>
   <input type="password" name="password" ngModel placeholder="Enter user password" /> <br><br>
   <button>Get User values</button>
</form>
-->

<!--
<h4 *ngFor="let item of data">
{{item}}
</h4>
<h4 *ngFor="let item of data2">
{{item.name}}
{{item.age}}
</h4>
<table border="1">
<tr>
<td>Name</td>
<td>Age</td>
<td>Email</td>
</tr>
<tr *ngFor="let item of data2">
<td>{{item.name}}</td>
<td>{{item.age}}</td>
<td>{{item.email}}</td>
</tr>
</table>
-->
<!--
<div [ngSwitch]="color">
    <h2 style="color:red;" *ngSwitchCase="'red'">
      Red color
    </h2>
        <h2 style="color:green;" *ngSwitchCase="'green'">
         Green color
          </h2>
       <h2 style="color:yellow;" *ngSwitchCase="'yellow'">
           Yellow color
           </h2>
         <h2 style="color:blue;" *ngSwitchCase="'blue'">
        Blue color
         </h2>
        <h2 style="color:gray;" *ngSwitchDefault>
         default color
         </h2>
</div>
-->

<!--
<ng-template [ngIf]="show=='red'">
<h1>Red block</h1>
</ng-template>
<ng-template [ngIf]="show=='green'">
<h1>Green block</h1>
</ng-template>
<ng-template [ngIf]="show=='blue'">
<h1>Blue block</h1>
</ng-template>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock">
</h1>
<ng-template #ifBlock>
<h1>If block</h1>
</ng-template>
<ng-template #elseBlock>
<h1>Else block</h1>
</ng-template>   

{{appName}}
<h3>{{name}}</h3>getVal2
<br><br>
<input type="text" (keyup)="getVal($event.target.value)" />
<h2>{{currentVal}}</h2>
<br><br>


<input type="text" #box />
<button (click)="getVal2(box.value)">Get Value</button>
<h2>{{currentVal2}}</h2>
<br><br>
<button (click)="myEvent('This is click event')">click me</button>
<br><br>
<input type="text" (keyup)="myEvent('Keyup check')" />
<br><br>
<input type="text" #box (keyup.enter)="myEvent(box.value)" />
<br><br>
<input type="text" #box (blur)="myEvent('blur event')" />
<h1 (mouseover)="myEvent('mouseover')" style="background-color:skyblue;">Mouse event</h1>
<br>
<h1 (mouseleave)="myEvent('mouseleave event')" style="background-color:red;">Mouse leave</h1><br>
<h2>{{getName()}}</h2>
<h2>{{getNameExtra()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr}}</h2>
<h2>{{arr[2]}}</h2>
<h2>{{arr.length}}</h2>
<h2>{{siteUrl}}</h2>
<h2>{{25+37+3}}</h2>
<app-user-list></app-user-list>
<app-login></app-login>
<app-signup></app-signup>
<button (click)="getNameForClick(myName)">Get my name</button> -->